{% extends 'base.html.twig' %}

{% block title %}Hello LogController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        body {
            background-image: url('https://img.freepik.com/free-vector/blue-curve-frame-template_53876-116707.jpg?w=2000');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h1 class="text-center">Hello {{ controller_name }}! ✅</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="{{path('app_admin_index')}}" class="btn btn-primary">Administrator</a>
                            </div>
                            <div class="col-sm-4">
                                <a href="{{path('app_prof_index')}}" class="btn btn-primary">Professor</a>
                            </div>
                            <div class="col-sm-4">
                                <a href="{{path('app_stdnt_index')}}" class="btn btn-primary">Student</a>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}