{% extends 'base.html.twig' %}

{% block title %}Edit Administrator{% endblock %}

{% block body %}
    <h1>Edit Administrator</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_index') }}"><button type="button" class="btn btn-success mt-2">back to list</button></a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
